/* Sticky footer styles
-------------------------------------------------- */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
}

#dhtmltooltip {
  position: absolute;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  background-color: rgba(255,0,0,0.6);
  border: 2px solid #dce45c;
  /*filter: alpha(opacity=40);*/
/*  width: 150px; 
  border: 2px solid black;
  padding: 2px;
  background-color: lightyellow;
  z-index: 100;*/
  text-align:center;
  font-size:10pt
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer ul {
	width: 100%;
}
.footer #country-name {
	padding: 10px 20px 10px;
	font-size: 20px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	width: 100%;
}
.dg.ac {
	z-index:100;
	top:95px !important;
}

.fenced {
   background-image:url('../img/fili130.jpg');
}

.force130 {
  height: 130px !importan;
}

.navbar-selector {
    float: left;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
   
}
/* #### Tablets Portrait or Landscape #### */
@media (min-device-width: 768px) and (max-device-width: 979px){

}
@media (max-device-width: 767px){

}

@media (max-device-width: 480px){
}
